
.test{
	border-bottom:1px solid ghostwhite;
}
.test-1{
	border-bottom:1px solid black;
}
#total{
	font-family:monospace;
	text-align:end;
	font-weight:bold;
}
.head{
	background:black;
	color:white
}
.no{
	font-weight:bold;
}


